@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn {
    @apply border rounded font-medium not-italic;

    &.btn-sm {
      @apply px-0.5 py-1 text-base;
    }

    &.btn-md {
      @apply px-1 py-2 text-md;
    }

    &.btn-lg {
      @apply px-2 py-3 text-lg;
    }
    
    &.btn-primary {
      @apply bg-primary-50 border-primary-50 text-primary-95 hover:bg-primary-60 hover:border-primary-60;

      &.btn-outline {
        @apply bg-[transparent] text-primary-50;
      }
    }

    &.btn-neutral {
      @apply bg-neutral-50 border-neutral-50 text-neutral-95 hover:bg-neutral-60 hover:border-neutral-60;

      &.btn-outline {
        @apply bg-[transparent] text-neutral-50;
      }
    }
  }

  .card {
    @apply bg-white shadow-md rounded-lg p-4;
  }

  .input {
    @apply border rounded p-2;
    
    &.md {
      @apply p-3;
    }

    &.lg {
      @apply p-4;
    }
  }
}
/* .large {
  padding: 8px 12px 8px 12px;
  border-radius:4px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  
}

.medium {
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
}

.small {
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
}

.contained {
  background-color: #3D1FC2;
  color: #ECE9F9;

  &:hover {
      background-color: #644CCE;
  }
  
  &:active, &:focus {
      background-color: #2B1688;
  }

  &:disabled {
      background-color: #C0C0C0;
      color: #ABABAB;
  }
} */