@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply border rounded font-medium not-italic flex items-center justify-center ;

    &.btn-sm {
      @apply px-0.5 py-1 text-base;
    }

    &.btn-md {
      @apply px-1 py-2 text-md;
    }

    &.btn-lg {
      @apply px-2 py-3 text-lg;
    }


    &.btn-primary {
      @apply bg-primary border-primary text-primary-50 hover:bg-primary-700 hover:border-primary-700 disabled:bg-neutral-300 disabled:text-neutral-500 disabled:border-neutral-300;

      &.btn-outline {
        @apply bg-transparent text-primary;
      }

      &.btn-text{
        @apply font-semibold text-primary border-transparent bg-transparent
      }
      
    }

    &.btn-neutral {
      @apply bg-black border-black text-white hover:bg-neutral-600 hover:border-neutral-600;

      &.btn-outline {
        @apply bg-transparent text-black;
      }

      &.btn-text{
        @apply text-black border-transparent bg-transparent
      }
    }
  }

  .card {
    @apply bg-white shadow-md rounded-lg p-4;
  }

  .field {
    @apply rounded border flex py-1 px-2 gap-[6px] items-center
  }

  .input {
    @apply py-1 px-2 flex flex-col text-[14px] leading-5 text-neutral ;

    &.input-md {
      @apply p-3;
    }

    &.input-lg {
      @apply p-4;
    }
    
    &.input-sm {
      @apply p-2;
    }

    &:hover(:not(.input-error, .input-disabled)) {
      @apply border-primary;
    }
    
    input {
      outline: none;
      flex: 1;
    }
  }
}

/* .large {
  padding: 8px 12px 8px 12px;
  border-radius:4px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  
}

.medium {
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
}

.small {
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
}

.contained {
  background-color: #3D1FC2;
  color: #ECE9F9;

  &:hover {
      background-color: #644CCE;
  }
  
  &:active, &:focus {
      background-color: #2B1688;
  }

  &:disabled {
      background-color: #C0C0C0;
      color: #ABABAB;
  }
} */